.header {
  background-color: #cfe4de;
  font-family: "Arial Black", Gadget, sans-serif;
  color: black;
  font-size: 70px;
  text-align: center;
  padding: 50px;
  position: static;
}

.nav {
  background-color: #4e5e73;
  overflow: hidden;
  position: static;
  width: 100%;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  font-size: 15px;
}

.nav a:hover {
  background-color: #7db5ba;
  color: #dcdcdc;
}

.disclaimer {
  background-color: #ffbebe;
  color: black;
  padding: 10px;
}

.about {
  background-color: #e9f4f1;
  color: black;
  padding: 25px 75px;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

table.help {
  width: 100%;
  margin: 0 auto;
  align: center;
}

table#do {
  background-color:#B6FD9D;
}

table#dont {
  background-color: #ffbebe;
}

table, th, td{
        border: 2px solid black;
        border-collapse: collapse;
        padding: 15px;
        text-align: center;
        vertical-align: middle;
        color: black;
      }
