html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.header {
  background-color: #cfe4de;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: black;
  font-size: 10rem;
  text-align: center;
  padding: 35px;
  position: static;
}

.header a{
  color: black;
  text-decoration: none;
}
.header a:hover {
  color: black;
  text-decoration: none;
}

div.nav {
  background-color: #4e5e73;
  overflow: hidden;
  position: static;
  width: 100%;
  font-size: 16px;
}

div.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  font-size: 16px;
  text-decoration: none;
}

div.nav a:hover {
  background-color: #7db5ba;
  color: black;
  text-decoration: none;
}

.disclaimer {
  background-color: #ffbebe;
  color: black;
  padding: 5px;
  font-size: 18px;
}

.about {
  background-color: #e9f4f1;
  color: black;
  padding: 25px 150px;
  font-size: 16px;
}

table.help {
  width: 100%;
  margin: 0 auto;
  align: center;
  text-align: left;
}

table#do {
  background-color:#B6FD9D;
}

table#dont {
  background-color: #ffbebe;
}

table, th, td{
        border: 2px solid black;
        border-collapse: collapse;
        padding: 15px;
        vertical-align: top;
        color: black;
        align: center;
        text-align: left;
}

td {
  text-align: left;

}

th {
  text-align: center;
}

caption {
  text-align: center;
  font-weight: bold;
  color: black;
}

.bottomHeader{
  text-align:center;
  padding-bottom:1rem;
}

/* CSS FOR THE BUTTONS PAGE
 */

/* The .illnessHeader is also used across different pages FYI */
  .illnessHeader{
    font-size:6rem;
   padding-bottom: 2rem; 
    text-align: center;
    font-weight: bold;
  }

  .symptomsImgDiv{
    margin: 0 auto 0 auto; 
    text-align:center;
  }

  .symptomsImg{
    width: 15%; 
    font-size: 2rem; 
    align="middle";
  }

  .signsImgDiv{
    padding-top: 6rem; 
    padding-bottom:6rem;
    text-align:center;
  }

  .signsImg{
    font-size: 2rem; 
    background-color:#882; 
    color:#4e5e73;
  }

  .lowerBtns{
    font-size:4rem;
  margin-bottom:2rem;    
}

  .howtohelpImgDiv{
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align:center;
  }
  .howtohelpImg{
    font-size: 2rem;
    background-color:#164;
    color:#4e5e73;

<!-- Link styling below -->

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}


.sources {
  margin-left: 15px;
}

footer {
  margin-top: 50px;
  padding-left: 30px;
  background-color: #cfe4de;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 45px;
}

a.resource:link {
  color: #ff0000;
  text-decoration: underline;
}
a.resource:visited {
  color: #551A8B;
  text-decoration: underline;
}
a.resource:hover {
  color: #EE0000;
  text-decoration: underline;
}

<!-- fix nav bar to top when scrolling-->

.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
