.header {
  background-color: #cfe4de;
  font-family: "Arial Black", Gadget, sans-serif;
  color: black;
  font-size: 70px;
  text-align: center;
  padding: 50px;
  position: static;
}
.nav {
  background-color: #4e5e73;
  overflow: hidden;
  position: static;
  width: 100%;
}
.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  font-size: 15px;
}
.nav a:hover {
  background-color: #7db5ba;
  color: #dcdcdc;
}
.disclaimer {
  background-color: #ffbebe;
  color: black;
  padding: 10px 50px;
}
.about {
  background-color: #e9f4f1;
  color: black;
  padding: 25px 75px;
}
